$fs1: 16px;
$fs2: 20px;
$fs3: 24px;
$fs4: 30px;
$fs5: 40px;

$fs6: 12px;


$fw1: 100;
$fw2: 200;
$fw3: 300;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;
$fw8: 800;
$fw9: 900;

$color1: #000000;
$color2: rgba(0, 0, 0, 0.7);
$color3: #FFFFFF;
$color4: #FFFCFC;
$color5: #F7F7F7;
$color6: #CBC9C9;
$color7: #030303;
$color8: #F8B653;
$color9: #DEDDDC;
$color10: #E1B067;

$color11: #F8F8F8;//bg-img
$color12:#140101;//h3
$color13:#1ED90E;//h4
$color14:#1E1D1D;//span button
$color15:#CCCCCC;//bg-button
$color16:#FC0303;//gia
$color17:#DEDDDC;
$color18:#D9D9D9;
$color19:#AE18E2;//bg submit

//line-height
$lh1: 24.2px;
$lh2: 19px;
$lh3: 36px;
$lh4: 48.41px;
$lh5: 29px;
$lh6: 64px;
$lh7: 10px;
$lh8:16px;

//padding,margin
$mg3: 3rem;
$mg5: 5rem;
$pd2: 2rem;
$pd5: 15px;

//btn size,+-
$w5:50px;
$h5:50px;
//btnAdd
$w1:175px;
$h1:64px;

//bg-btn
$bg-liner1:linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);//bg + -
$bg-liner2:linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);//btnAdd

